---
import MainLayout from "../../../../layouts/MainLayout.astro";
import Volunteer from "../../../../components/shifts/Volunteer.astro";
import DateNavigation from "../../../../components/shifts/DateNavigation.astro";

const { type, weekday, date } = Astro.params;

const types = new Map([
  ["evening", "serale"],
  ["breakfast", "colazioni"],
]);

const days = new Map([
  ["sun", "Domenica"],
  ["mon", "Lunedì"],
  ["tue", "Martedì"],
  ["wed", "Mercoledì"],
  ["thu", "Giovedì"],
  ["fri", "Venerdì"],
  ["sat", "Sabato"],
]);

const volunteers = [
  {
    name: "Andrea C.",
    you: true,
    present: false,
  },
  {
    name: "Maurizio F.",
    you: false,
    present: true,
  },
  {
    name: "Marco T.",
    you: false,
    present: true,
  },
  {
    name: "Stefano C.",
    you: false,
    present: true,
  },
  {
    name: "Marco L.",
    you: false,
    present: true,
  },
  {
    name: "Matteo M.",
    you: false,
    present: true,
  },
];
---

<MainLayout title="Turni volontari">
  <h1 class="text-center tracking-widest uppercase my-4">
    {types.get(type!)} - {days.get(weekday!)}
  </h1>
  <DateNavigation />
  <h2 class="text-center text-7xl font-black text-green-600 my-8">10</h2>
  <section class="rounded-full">
    {
      volunteers.map((v) => (
        <Volunteer name={v.name} isYou={v.you} isPresent={v.present} />
      ))
    }
  </section>
</MainLayout>
