---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import logo from "../images/logo.svg";
---

<BaseLayout>
  <main class="p-8">
    <Image src={logo} alt="Ronda della Carità" />
    <form></form>
  </main>
</BaseLayout>
