---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Andrea C.";
---

<MainLayout title="Profilo">
  <section class="p-4">
    <h1 class="text-3xl">{name}</h1>
  </section>
</MainLayout>
