---
import { Image } from "astro:assets";
import miniLogo from "../images/logo-mini.svg";
---

<header class="flex items-center justify-center bg-gray-800 py-3">
  <a href="/">
    <Image
      src={miniLogo}
      alt="Ronda della Carità di Verona"
      width="64"
      height="64"
    />
  </a>
</header>
