---
import { format } from "date-fns";
import { getNextShiftDay } from "../../services/shift.service";
import MainLayout from "../../layouts/MainLayout.astro";

const nextShiftDate = getNextShiftDay("tue");
const redirectDate = format(nextShiftDate, "yyyy-MM-dd");
return Astro.redirect(`/shift/evening/tue/${redirectDate}`);
---

<MainLayout title="Turni volontari">
  <h1>Loading...</h1>
</MainLayout>
